.advantages
	.container.clearfix
		.adv-item.item-1: p Современный надежны шар
		.adv-item.item-2: p Обучение пилотированию
		.adv-item.item-3: p Фотосъемка в полете
		.adv-item.item-4: p Потрясающие виды