.container
	.short.line
		.row
			.grid-4
				h2.h2-title Вкратце
				p Более 5 лет воздухоплавательная команда Нева-Аэро выполняет полёты на воздушных шарах для гостей и жителей Петербурга над одними из самых живописных мест России – Царским Селом и Павловском, возведенных в Пушкинском районе Санкт-Петербурга. 
				p Мы предлагаем полетать с нами!
			.grid-8
				.video
					iframe(src="https://www.youtube.com/embed/Yv3ikKhyzKM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)